<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/stylesheet.css') }}">
</head>

<body>
    <div class="nav-bar">
        <h1 style="text-align: left;">Movie Explorer</h1>
        <ul id="nav-list">
            <li class="nav-item"><a method="GET" href="{{url_for('index')}}">New Movie</a></li>
        </ul>
        <ul id="nav-list">
            <li class="nav-item"><a method="GET" href="{{url_for('handle_login')}}">Login</a></li>
        </ul>
        <ul id="nav-list">
            <li class="nav-item"><a method="GET" href="{{url_for('handle_signup')}}">Create Account</a></li>
        </ul>
        {% if current_user.is_authenticated %}
        <ul id="nav-list">
            <li class="nav-item">
                <a method="GET" href="{{url_for('handle_logout')}}">Logout {{current_user.username}}</a>
            </li>
        </ul>
        {% endif %}
    </div>

    <div class="movie-container">
        <div id="info">
            <p class="movie-title">{{ title }}</p>
            <h3>{{ tag }}</h3>
            <h3>{{ genre }}</h3>
            <p class="movie-description">{{ overview }}</p>
            <h3><a href="{{ wiki }}">Wiki Link</a></h3>
        </div>
        <div id="image">
            <img class="movie-poster" src="{{image}}">
            <h4>Movie Rating: {{ score }}/10</h4>
        </div>




    </div>


</body>

</html>