<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/stylesheet.css') }}">
</head>

<body>
    <div class="nav-bar">
        <h1 style="text-align: left;">Movie Explorer</h1>
        {% if current_user.is_authenticated %}
        <ul id="nav-list">
            <li class="nav-item"><a method="GET" href="{{url_for('index')}}">New Movie</a></li>
        </ul>
        {% endif %}
        <ul id="nav-list">
            <li class="nav-item"><a method="GET" href="{{url_for('handle_signup')}}">Create Account</a></li>
        </ul>
        <ul id="nav-list">
            <li class="nav-item"><a method="GET" href="{{url_for('handle_login')}}">Login</a></li>
        </ul>
        {% if current_user.is_authenticated %}
        <ul id="nav-list">
            <li class="nav-item">
                <a method="GET" href="{{url_for('handle_logout')}}">Logout {{current_user.username}}</a>
            </li>
        </ul>
        {% endif %}
    </div>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <b>
            <font color="red">{{message}}</font>
        </b>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </p>
    <div id="login-info">
        <h4>Enter Login Info:</h4>
        <form method="POST" action="{{url_for('user_login')}}">
            <input type="text" placeholder="User Name" name="user_name" required /><br>
            <input type="text" placeholder="Password" name="user_password" required /><br><br>
            <input type="submit" value="Login" />
        </form>

    </div>

</body>

</html>