body {
    background-color: #121212;
    color: #cccccc;
}

.movie-container {
    display: flex;
    padding: 10px;


    background-color: #121212;
    color: #cccccc;
    text-align: center;

}

#info {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 65%;
}

#image {
    width: 35%;
}

.movie-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.movie-poster {
    max-width: 35%;
    height: auto;
    margin-bottom: 10px;
}

.movie-description {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
}