body {
    background-color: #121212;
    color: #cccccc;
}

.movie-container {
    display: flex;
    padding: 10px;


    background-color: #121212;
    color: #cccccc;
    text-align: center;

}

#info {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 65%;
}

#image {
    width: 35%;
}

.movie-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.movie-poster {
    max-width: 35%;
    height: auto;
    margin-bottom: 10px;
}

.movie-description {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
}


#login-info {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    margin: 15px;
}

/* navigation style */
.nav-item {
    width: 140px;
    margin: 4px;
    margin-left: 5%;
    padding: 2px;
    background-color: #cccccc;
    border: 1px solid #d4d4d4;
    text-align: center;
    list-style-type: none;
    display: block;
    /* flex: 0 1 auto; */
    color: #ffffff;
    /* text-decoration: underline; */
    cursor: pointer;
}

.nav-item:hover {
    background-color: #817f7f;
}

.nav-bar {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    margin: 4px;
}

.nav-bar h1 {
    margin: 10px;
}

#nav-list {
    padding: 5px;
    position: relative;
}